<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.huntcareer.qa.listeners.MyListeners" />
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.huntcareer.qa.testcases.UserLoginTest" />
			<class name="com.huntcareer.qa.testcases.UserRegisterTest" />
			<class name="com.huntcareer.qa.testcases.EmployerLoginTest" />
			<class name="com.huntcareer.qa.testcases.EmployerRegisterTest" />
			<class name="com.huntcareer.qa.testcases.Search" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->